.date-picker-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .date-picker-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }